---
# required metadata
title: Hardware environmental rest results for Windows 365 Link
titleSuffix:
description: Learn about hardware environmental rest results for Windows 365 Link
keywords:
author: ErikjeMS
ms.author: erikje
manager: dougeby
ms.date: 07/01/2025
ms.topic: overview
ms.service: windows-365-link
ms.subservice:
ms.localizationpriority: high
ms.assetid:

# optional metadata

#ROBOTS:
#audience:

ms.reviewer: sajelaci
ms.suite: ems
search.appverid: MET150
#ms.tgt_pltfrm:
ms.custom: intune-azure; get-started; intro-hub-or-landing
ms.collection:
- M365-identity-device-management
- tier2
---

# Windows 365 Link hardware environmental test results  

Windows 365 Link is built to withstand rigorous conditions that help ensure optimal reliability and lower cost of ownership. Windows 365 Link meets U.S. Military standards (MIL-STD-810H\*) for ruggedness and durability under various environmental conditions, including temperature, humidity, shock, vibration, and more.

MIL-STD-810, maintained by the U.S. Department of Defense, provides test methods for evaluating device performance in real-world conditions. These tests assess device limits under expected operational and transport environments. Independent third-party labs conducted tests using recommended methods.

## Windows 365 Link MIL-STD-810H test result

Operational tests were deemed successful if the unit remained functional throughout the test, while non-operational tests passed if functionality was verified immediately after exposure. All tests were conducted in compliance with the MIL-STD-810 standards effective at the time of the product's release.  

| Test Description | Windows 365 Link |
|---|---|
| Bench Handling Shock        | Pass |
| Blowing Dust                | Pass |
| Blowing Sand                | Pass |
| Crash Safety Shock          | Pass |
| Explosive Atmosphere        | Pass |
| Freeze/Thaw                 | Pass |
| Function Shock              | Pass |
| High Temperature Operating  | Pass |
| High Temperature Storage    | Pass |
| High Altitude Operating     | Pass |
| High Altitude Storage       | Pass |
| Humidity                    | Pass |
| Low Temperature Operating   | Pass |
| Low Temperature Storage   | Pass |
| Temperature Shock         | Pass |
| Transit Drop              | Pass |
| Vibration (Category 24)   | Pass |
| Vibration (Category 4)    | Pass |

\* MIL-STD 810H establishes a methodology for testing products against environmental stresses under controlled laboratory conditions. Such testing isn't a guarantee of future performance under these test conditions. Abuse, like that contained in MIL-STD 810H testing, isn't covered under Microsoft’s standard warranty.

<!-- ########################## -->
## Next steps

[What's in the box](whats-in-the-box.md)
